{% load static %}

<!-- Contact Start -->
<div class="container bg-white py-5" id="contact">
    <div class="row px-3">
        <div class="col-12">
            <h2 class="title position-relative pb-2 mb-4">Contact Me</h2>
        </div>
        <div class="col-12">
            <div class="contact-form">
                <form action="{% url 'contact' %}" method="POST" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="control-group col-sm-6">
                            <input type="text" name="name" class="form-control p-4" placeholder="Your Name"
                                required="required"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group col-sm-6">
                            <input type="email" name="email" class="form-control p-4" placeholder="Your Email"
                                required="required"/>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <input type="text" name="subject" class="form-control p-4" placeholder="Subject"
                            required="required"/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea name="message" class="form-control py-3 px-4" rows="5" placeholder="Message"
                            required="required"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-3 px-4" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->