{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-white pt-5">
    <div class="container bg-dark text-light text-center py-5">
        <div class="flex justify-content-center mb-4">
            <a class="text-white btn btn-outline-primary" href="https://www.linkedin.com/in/ab-hakim-ayman/">LinkedIn</a>
     
            <a class="text-white btn btn-outline-primary" href="https://leetcode.com/ab-hakim-ayman/">LeetCode</a>
     
            <a class="text-white btn btn-outline-primary" href="https://codeforces.com/profile/ab_hakim_ayman">Codeforces</a>
     
            <a class="text-white btn btn-outline-primary" href="https://github.com/ab-hakim-ayman">GitHub</a>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="text-white" href="#">Privacy</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">Terms</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">FAQs</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">Help</a>
        </div>
        <p class="m-0">&copy; All Rights Reserved. Designed by <a class="text-decoration-none" href="#">Ab Hakim Ayman</a></p>
    </div>
</div>
<!-- Footer End -->