{% load static %}

<!-- Footer Start -->
<div class="container-fluid bg-white pt-5 px-0">
    <div class="container bg-dark text-light text-center py-5">
        <div class="d-flex justify-content-center mb-4">
            <a name="" id="" class="btn btn-outline-primary m-2" target="_blank" href="https://www.linkedin.com/in/ab-hakim-ayman/" role="button">Linkedin</a>
            <a name="" id="" class="btn btn-outline-primary m-2" target="_blank" href="https://leetcode.com/ab-hakim-ayman/" role="button">Leetcode</a>
            <a name="" id="" class="btn btn-outline-primary m-2" target="_blank" href="https://codeforces.com/profile/ab_hakim_ayman" role="button">Codeforces</a>
            <a name="" id="" class="btn btn-outline-primary m-2" target="_blank" href="https://github.com/ab-hakim-ayman" role="button">Github</a>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <a class="text-white" href="#">Privacy</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">Terms</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">FAQs</a>
            <span class="px-3">|</span>
            <a class="text-white" href="#">Help</a>
        </div>
        <p class="m-0">&copy; All Rights Reserved. Designed by <a class="text-decoration-none" href="#">Ab Hakim Ayman</a></p>
    </div>
</div>
<!-- Footer End -->