{% load static %}

 <div class="container bg-white pt-5 pb-3">
    <div class="row px-3">
        <div class="col-12">
            <h2 class="title position-relative pb-2 mb-4">Portfolio</h2>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters">
                        <li class="btn btn-outline-primary active"  data-filter="*"><i class="fa fa-star mr-2"></i>All</li>
                        {% for c in category %}
                        <li class="btn btn-outline-primary" data-filter=".{{c.name}}"><i class="fa fa-laptop-code mr-2"></i>{{c.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                {% for project in projects %}
                <div class="col-md-6 mb-4 portfolio-item {{project.category.name}}">
                    <div class="position-relative overflow-hidden mb-2">
                        <div class="text-center">
                            <a href="{{project.url}}" target="_blank" class="text-decoration-none"><h4 class="text-primary">{{project.title}}</h4></a>
                        </div>
                        <img class="img-fluid w-100" height="200px" width="200px" src="{{project.image.url}}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
