{% load static %}

<div class="sidebar">
    <div class="sidebar-text d-flex flex-column h-100 justify-content-center text-center">
        {% for about in abouts %}
        <img class="w-100 img-fluid text-center rounded-circle mb-4" src="{{about.image.url}}" alt="Image">
        <h2 class="mt-2">{{about.name}}</h2>
        <div class="mb-4" style="height: 22px;">
            <h4 class="typed-text-output d-inline-block text-body"></h4>
            <div class="typed-text d-none">{{about.title}}</div>
        </div>
        <div class="d-flex justify-content-center mt-auto mb-3">
            {% for social in socials %}
            <a class="mx-2" href="{{social.url}}"><i class="fab fa-2x {{social.icon}}"></i></a>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="d-flex align-items-end justify-content-between">
            <a href="" class="btn btn-block border-right">Download CV</a>
            <a href="#contact" class="btn btn-block btn-scroll">Contact Me</a>
        </div>
    </div>
    <div class="sidebar-icon d-flex flex-column h-100 justify-content-center text-right">
        <i class="fas fa-2x fa-angle-double-right text-primary"></i>
    </div>
</div>